@use "../colors.scss";

.deadline-card {
    background: colors.$white;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: colors.$border-radius;
    box-shadow: colors.$shadow;
    border-left: 4px solid colors.$primary;
    display: flex;
    flex-direction: column;

    .header {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        .right {
            display: flex;
            align-items: center;
            gap: 1rem;

        }

        .title {
            font-weight: 600;
            color: colors.$text;
        }

        .actions {
            display: flex;
            gap: 0.5rem;
            margin-left: 1rem;
        }
    }

    .date {
        color: #666;
        font-size: 0.9rem;
        position: relative;
        transition: color 0.2s ease;
        text-align: right;
        white-space: nowrap;
        margin-left: 1rem;
    }

    .info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0.5rem 0;
    }

    .field {
        font-size: 0.8rem;
        color: #666;
        margin-top: 0.5rem;

        &:last-child {
            margin-bottom: 0.5em;
        }
    }
}

@each $color-name, $color-value in colors.$bg-map {
    .deadline-card-color-#{$color-name} {
        border-left: 4px solid $color-value;
    }
}